.radio {
    width: 20px;
    color: black;
    font-weight: 400;
    font-size: 14px;

}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    gap: 15px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 15px;

}
