.sendForm {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.textarea {
    all: unset;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
    border-radius: 20px;
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding-left: 40px;
}

.button {
    border-radius: 20px;
    width: 120px;
    height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    background-color: #06c;
    border: none;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
}
